{
	"arrowParens": "always",
	"bracketSpacing": true,
	"parser": "typescript",
	"printWidth": 240,
	"proseWrap": "never",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 4
}
