@function set-dynamic-text-color($color) {
	@if (lightness($color) > 50) {
			@return #000000; // Lighter backgorund, return dark color
		} @else {
			@return #ffffff; // Darker background, return light color
		}
	}

@mixin footer-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);

	app-footer {
		.footer-links a {
			// color: mat-color($primary, default-contrast);
			color: set-dynamic-text-color(mat-color($primary));
		}
	}
}
