@function set-dynamic-text-color($color) {
	@if (lightness($color) > 50) {
			@return #000000; // Lighter backgorund, return dark color
		} @else {
			@return #ffffff; // Darker background, return light color
		}
	}

@mixin home-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);

	app-home {
		.header-background {
			background: mat-color($primary);
		}

		.header-headline {
			color: set-dynamic-text-color(mat-color($primary));

			// height: auto;
			margin-top: 5rem;
		}

		.header-start {
			color: mat-color($primary);
		  }
	}
}
