// The margin between two sections
$margin-sections: 60px;
$margin-sections-small: 15px;
.header-background {
    overflow: hidden;
}

.header-section {
    text-align: center;
    padding-top: $margin-sections;
}

.header-headline {
    h1 {
        font-size: 56px;
        font-weight: 300;
        line-height: 56px; // margin: 0 0 0 0;
    }
    h2 {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        margin: 15px 0 25px 0;
    }
}

.header-start {
    text-align: center;
    margin: $margin-sections 0;
}
