<header class="header-background">
	<div class="header-section">
		<div class="header-headline">
			<h1 class="mat-h1">Hi, I’m Jared. Nice to meet you.</h1>
			<h2>I design and code beautiful things, and I love what I do.</h2>
		</div>
		<div class="header-start">
			<a mat-raised-button color="accent" class="app-button" routerLink="/">cta</a>
		</div>
	</div>
</header>

<div class="content-wrapper">
	<mat-card>
		<h1>Card Header</h1>
		<mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
			<div fxFlex>content block 1</div>
			<div fxFlex style="text-align: right;">content block 2</div>
		</mat-card-content>
	</mat-card>
</div>
<app-footer></app-footer>
