<div class="primary-header">
	<h1>My Code Lab</h1>
</div>
<section class="mat-typography">
	<div class="content-wrapper">
		<mat-card>
			<mat-card-header>
				<h2 mat-subheading>Firebase Firestore Static Prerendering (Generative)</h2>
			</mat-card-header>
			<mat-card-content>
				<mat-list>
					<mat-list-item *ngFor="let contact of contacts">
						<img mat-list-avatar
							src="assets/avatar.jpg"
							alt="Image of {{ contact.name }}">
						<h3 mat-line>{{ contact.name }}</h3>
						<p mat-line> {{ contact.status }} </p>
						<mat-divider inset *ngIf="!last"></mat-divider>
					</mat-list-item>
				</mat-list>
			</mat-card-content>
		</mat-card>
	</div>
</section>

<app-footer></app-footer>
