@import './styles/app-theme';
@import './styles/general';

// Global Styles //

.content-wrapper {
	margin: 1em 1em 1em 1em;
}

.primary-header {
	background: mat-color($primary);

	h1 {
		color: mat-color($primary, default-contrast);
	}
}

.page-header {
	display: flex;
	align-items: center;

	@media (max-width: $small-breakpoint-width) {
		padding-left: 0;
	}
}

router-outlet ~ * {
	position: absolute;
	height: 100%;
	width: 100%;
}
