// TODO: Create seperate sass/scss directory for the theme and other gloal libraries.

@import "app/core/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "app/core/scss/reset";

@import '~@angular/material/theming';

// Be sure that you only ever include this mixin once!
@include mat-core();

$default-theme-primary: mat-palette($mat-indigo);
$default-theme-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$default-theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$default-theme-theme: mat-light-theme(
	$default-theme-primary,
	$default-theme-accent,
	$default-theme-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($default-theme-theme);

// ----------------------------------------------------------------------- //

html,
body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
}

.view-wrapper {
	margin-left: 1rem;
	margin-right: 1rem;
}
